
@{
    ViewBag.Title = "ListagemCliente";
}

<h2>Listagem Cliente</h2>

<div>
    <b>ClienteId</b>
</div>
<div>
    @ViewData["ClienteId"]
</div>
<div>
    <b>Nome</b>
</div>
<div>
    @ViewData["Nome"]
</div>
<div>
    <b>DataDeNascimento</b>
</div>
<div>
    @ViewData["DataDeNascimento"]
</div>
<div>
    <b>Endereço</b>
</div>
<div>
    @ViewData["Endereço"]
</div>
<div>
    <b>QuantidadeDeCompras</b>
</div>
<div>
    @ViewData["QuantidadeDeCompras"]
</div>
<a href="CadastroCliente" title="Voltar">Voltar</a>